.box1{
    
        display: block;
        margin-bottom: 10px;
        height: 40px;
        margin-left: 80px;
        
        
}
.b1{
    font-weight: 900;
    width: 110px;
    height: 45px;
    font-family: cursive;
    color: green;
    border-color: green;
    background-color: #fff;
    border-radius: 40%;
    border: solid;
    
    
    

}
.b2{
    color:#fff;
    border-radius: 50%;
    background-color: green;
    height: 50px;
    width: 50px;
    

}
.box2{
    margin-left:  80px ;
    margin-bottom: 10px;
}
.b3 {
    font-family: cursive;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    background-color:blue;
    height: 50px;
    width: 150px;
    color: #fff;
    border: black solid;
    
   
}
.box3{
    margin-left:  80px ;
    margin-bottom: 10px;
}