<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .b{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
        }
        .box{
            width: 200px;
            height: 200px;
            background-color: aqua;
            border: solid 2px;

        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="b">
        {% for i in range(0,x) %}
            <div class="box" style="background-color: {{ color }};"></div>
        {% endfor %}
    

    
</body>
</html>