<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/check" method="post">
        <h1>welcome to the great number game</h1>
        <h2>am thinking of a number between 1 and 100</h2>
        <p>take a guess</p>
        <input type="text" name="ran">
        <button type="submit">submit</button>
    </form>
    
    
    
    {% if session['num'] == session['choice'] %}
        <p>{{ session['num'] }} was the number great</p>
        <button><a href="/res">play again</a></button>
    {% endif %}

    {% if session['num'] < session['choice'] and (session['choice'])!= 0 %}
        <p>too high</p>
    {% endif %}

    {% if session['num'] > session['choice']  and (session['choice'])!= 0 %}
        <p>too low, try again</p>
    {% endif %}


</body>
</html>