<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
</head>
<body>
    <div class="d_flex justify-content-between m-5">
        <h1>EDIT  RECIPE !</h1>
        <div>
            <a href="/dashboard" class="btn btn-secondary">HOME</a>
            <a href="/logout" class="btn btn-danger">LOGOUT</a>
            
        </div>
    </div>
    <div class=" col-6 m-5">
        <div>
            {% for message in get_flashed_messages() %}
            <p href="" class="text-warning">{{message}}</p>
            {%endfor%}
        </div>
        <form action="/recipes/{{recip.id}}/update" method="post" >
            <div class="form-group">
                <label for="">name</label>
                <input type="text" name="name" class="form-control" value="{{recip.name}}">
            </div>
            <div class="form-group">
                <label for="">description</label>
                <textarea name="description" id="" cols="30" rows="10" class="form-control">{{recip.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="">instructions</label>
                <textarea name="instruction" id="" cols="30" rows="10" class="form-control">{{recip.instruction}}</textarea>
            </div>
            <div class="form-group">
                <label for="">Date cooked/mode:</label>
                <input type="date" name="date" class="form-control" value="{{recip.date}}">
            </div>
            <div class="form-group">
                <label for="">Under 30 minutes?</label>
                <input type="radio" name="under" value="1"{% if recip.under==1 %} checked{%endif%}>
                <label for="">YES</label>
                <input type="radio" name="under" value="0"{% if recip.under==0 %} checked{%endif%}>
                <label for="">NO</label>
            </div>
            <input type="hidden" name="id" value="{{recip.id}}">
        
        
            <input type="submit" value="add RECIPPPPP" class="btn btn-secondary">
        
            </form>
        </div>
    </div>
    
    
</body>
</html>