<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
        <h1>submited info</h1>
        <label for="">name:</label>
        <p>{{ session['name'] }}</p>
        <label for="">dojo location:</label>
        <p>{{  session['location'] }}</p>
        <label for=""> fav language:</label>
        <p>{{ session['language'] }}</p>
        <label for=""> comment:</label>
        <p>{{  session['txtarea'] }}</p>
        <button> back</button>
</body>
</html>