.row{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;

}
.col{
    background-color: aqua;
    flex: 1;
    margin: 10px;
    padding: 15px;
}
.col2{
    flex: 2;
    background-color: aqua;
    margin: 10px;
    padding: 15px;
}
.col3{
    flex:3;
    background-color: aqua;
    margin: 10px;
    padding: 15px;
}