.sss{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    transition-duration: 0.4s;
    border-radius: 5px;
    height: 20px;
    text-align: center;
    background-color: rgb(192, 70, 70);
    color: white;
    
  }
  
.btn:hover {
    background-color: red; /* Green */
    color: white;
    cursor:pointer;
  }