<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <table>
        {% for i in range(0,l):%}
        <tr>
            {% for j in range(0,c): %}
            {% if i%2== j%2 %}
            <td class="color1" style="background-color: {{color1}};"></td>
            {% endif %}
            {% if  i%2 !=j%2  %}
            <td class="color2" style="background-color: {{color2}};" ></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>